@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: bold;
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Bold.woff") format("woff");
}

@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 500;
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("../fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: normal;
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("../fonts/TTLakes-Regular.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  max-width: 1120px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'TT Lakes Regular', sans-serif;
  letter-spacing: 1px;
  background-color: #F8F8F8;
}

/* Header Start */
.header {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #41F6D7;
  padding: 5px;
  background-color: white;
}

.left-side-block, .right-side-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  margin: 0 10px;
}

button {
  background-color: transparent;
}

.design-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.status-block {
  border-left: 2px solid #F8F8F8;
  margin-left: 15px;
}

.contact-us {
  display: none;
}

@media (min-width: 768px) {
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1120px) {
  .contact-us {
    display: none;
  }
}

.logo__img {
  margin: 10px;
}

@media (min-width: 768px) {
  .burger {
    border-right: 2px solid #F8F8F8;
    margin-right: 10px;
    padding-right: 15px;
  }
}

.service__header {
  display: none;
}

@media (min-width: 1120px) {
  .service__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 1120px;
    background-color: #F8F8F8;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger, .logo, .status-block {
    display: none;
  }
  .header {
    background-color: #F8F8F8;
    border-bottom: none;
  }
  .service-buttons__buttons-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'TT Lakes',' Arial', 'Helvetica', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin: 15px 45px 15px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service-buttons__buttons-text:last-child {
    margin-right: 0;
  }
  .service__text {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    font-family: 'TT Lakes',' Arial', 'Helvetica', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding-left: 15px;
    border-left: 3px solid #41F6D7;
  }
}

.service-buttons {
  display: none;
}

@media (min-width: 1120px) {
  .service-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
  }
}

@media (min-width: 1120px) {
  .service-buttons__repair-img,
  .service-buttons__checkstatus-img {
    border: none;
    cursor: pointer;
    padding: 0 5px;
    margin-right: 15px;
  }
}

.menu-navigation, .intro {
  background-color: #F8F8F8;
}

.navigation-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  overflow-x: scroll;
}

@media (min-width: 768px) {
  .navigation-slider {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: hidden;
  }
}

@media (min-width: 1120px) {
  .navigation-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navigation-slider__item,
.navigation-slider__item_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  min-height: 40px;
  min-width: 250px;
  font-family: 'TTLakes-Regular';
  border-radius: 6px;
  vertical-align: baseline;
}

.navigation-slider__item:hover {
  background-color: white;
  border: 2px solid #41F6D7;
}

.navigation-slider__item_active {
  background-color: #fff;
  border: 2px solid #41F6D7;
}

.navigation-slider__text {
  font-family: 'TT Lakes',' Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #7E7E82;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.intro__intro-block {
  padding: 0 20px 20px 20px;
}

@media (min-width: 768px) {
  .intro__intro-block {
    width: 50%;
  }
}

.intro__intro-text {
  font-family: 'TT Lakes',' Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .intro__intro-text {
    width: 312px;
    overflow-y: hidden;
  }
}

@media (min-width: 1120px) {
  .intro__intro-text {
    width: 490px;
    overflow-y: hidden;
  }
}

.intro__readmore-wrap {
  background: url("../images/svg/read_more.svg") no-repeat left;
}

.intro__readmore-button {
  cursor: pointer;
  text-align: right;
  border: none;
  background-color: #F8F8F8;
  outline: none;
  padding: 7px;
  font-size: 15px;
  margin-left: 20px;
}

.intro__readmore-button:hover {
  color: #7E7E82;
}

.intro__image {
  width: 100%;
}

.intro__image_foto {
  width: 100%;
  border-radius: 10px;
}

.intro__intro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

@media (min-width: 768px) {
  .intro__intro-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#more {
  display: none;
}
/*# sourceMappingURL=style.css.map */